#textdomain wesnoth-Troubled_Times

#define LEADER_ALIVE_CHECK SIDE
[event]
	name=last breath
	first_time_only=no

	[filter]
		side={SIDE}
		canrecruit=yes
	[/filter]

	[store_unit]
		[filter]
			side={SIDE}
			canrecruit=no
		[/filter]
		variable=units
	[/store_unit]

	{FOREACH units i}
		{IF_VAR units[$i].level greater_than $leader.level (
			[then]
				[store_unit]
					[filter]
						id=$units[$i].id
					[/filter]
					variable=leader
					mode=replace
				[/store_unit]
			[/then]
			[else]
				{IF_VAR units[$i].level equals $leader.level (
					[then]
						{IF_VAR units[$i].experience greater_than_equal_to $leader.experience (
							[then]
								[store_unit]
									[filter]
										id=$units[$i].id
									[/filter]
									variable=leader
									mode=replace
								[/store_unit]
							[/then]
						)}
					[/then]
				)}
			[/else]
		)}
	{NEXT i}

	[kill]
		x,y=$x1,$y1
		animate=yes
		fire_event=no
	[/kill]

	{IF_VAR leader.length numerical_not_equals 0 (
		[then]
			{CLEAR_VARIABLE leader.overlay}
			{VARIABLE leader.upkeep "loyal"}
			{VARIABLE leader.id "P{SIDE}"}
			{VARIABLE leader.save_id "Player_{SIDE}"}
			{VARIABLE leader.canrecruit "yes"}
			{FOREACH leader.attacks i}
				{VARIABLE_OP leader.attacks[$i].damage add 1}
			{NEXT i}

			[unstore_unit]
				variable=leader
			[/unstore_unit]
			[message]
				speaker=narrator
				caption= _ "New leader takes command"
				message="$leader.name"+ _ " has been choosen as new leader."
				image="$leader.profile"
			[/message]
		[/then]
		[else]
			[message]
				speaker=narrator
				caption= _ "End of Game"
				message=_ "Our great warriors weren't so great this time. You lost!"
				image="units/unknown-unit.png~RC(magenta>green)"
			[/message]
			[endlevel]
				result=defeat
			[/endlevel]
		[/else]
	)}
	{CLEAR_VARIABLE units,leader}
[/event]
#enddef

#define SIDE_DATA SIDE NAME
    side={SIDE}
    controller=human
    team_name=good
    user_team_name= _ "Elves"
    id=P{SIDE}
    save_id=Player_{SIDE}
    name={NAME}
    type={NAME}
    canrecruit=yes
    persistent=yes
    team_lock=yes
    gold_lock=yes
    income_lock=yes
    color_lock=yes
    unrenable=yes
    gold=25
    income=-2
    village_gold=2
    share_view=yes
    share_map=yes
#enddef

#define RING_SPEED X Y
    [item]
        x={X}
        y={Y}
        image=items/ring-silver.png
        halo=halo/holy/saurian-magic-halo-6.png
    [/item]

    [event]
        name=moveto
        first_time_only=yes
        [filter]
            side=1,2,3
            x,y={X},{Y}
        [/filter]
        [remove_item]
            x,y={X},{Y}
        [/remove_item]
        [object]
            silent=yes
            duration=forever
            [filter]
                side=1
                canrecruit=yes
            [/filter]
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/object]
        [object]
            silent=yes
            duration=forever
            [filter]
                side=2
                canrecruit=yes
            [/filter]
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/object]
        [object]
            silent=yes
            duration=forever
            [filter]
                side=3
                canrecruit=yes
            [/filter]
            [effect]
                apply_to=movement
                increase=1
            [/effect]
        [/object]
        [message]
            speaker=unit
            message= _ "I feel that every elf leader is suddenly moving a bit faster."
        [/message]
    [/event]
#enddef

#define EXPERIENCE_BONUS TURNS S
    [event]
        name=victory

        [store_unit]
            [filter]
                side=1
                [or]
                    side=2
                [/or]
                [or]
                    side=3
                [/or]
                x,y=1-999,1-999
            [/filter]
            variable=giveex
        [/store_unit]

        {VARIABLE turns_left "$({TURNS}-$turn_number)"}
        {VARIABLE bonus "$($turns_left*{S})"}

        {FOREACH giveex a}
            {IF_VAR giveex[$a].canrecruit not_equals yes (
                [then]
                    {VARIABLE_OP $bonus sub $giveex.length}
                    {VARIABLE_OP $bonus divide $giveex[$a].level}
                    {VARIABLE_OP $bonus ipart($bonus)}
                [/then]
                [else]
                    {VARIABLE_OP $bonus sub $giveex.length}
                [/else]
            )}
            {IF_VAR $bonus greater_than 0 (
                [then]
                    {VARIABLE_OP giveex[$a].experience add $bonus}
                    [unstore_unit]
                        variable=giveex[$a]
                        find_vacant=no
                        fire_event=yes
                    [/unstore_unit]
                [/then]
                [else]
                    {VARIABLE_OP giveex[$a].experience add {S}}
                    [unstore_unit]
                        variable=giveex[$a]
                        fire_event=yes
                    [/unstore_unit]
                [/else]
            )}
        {NEXT a}
        {CLEAR_VARIABLE giveex,turns_left,bonus}
    [/event]
#enddef

#define RECALL_LOYALS
    [store_unit]
        [filter]
            canrecruit=no
            [filter_wml]
                upkeep="loyal"
            [/filter_wml]
            [not]
                level=0
            [/not]
        [/filter]
        variable=loyals
    [/store_unit]

    {FOREACH loyals l}
        [recall]
            id=$loyals[$l].id
            placement=leader
        [/recall]
    {NEXT l}
    {CLEAR_VARIABLE loyals}
#enddef

#define LEADERS_GOLD
    [event]
        name=die
        first_time_only=no

        [filter]
            canrecruit=yes
            is_enemy=yes
        [/filter]

        [gold]
            side=1
            amount=25
        [/gold]

        [gold]
            side=2
            amount=25
        [/gold]

        [gold]
            side=3
            amount=25
        [/gold]
    [/event]
#enddef
